/* ==================================================================================================== */
/* ROOT
/* ==================================================================================================== */
:root {
    --color-main: rgb(34, 40, 49);
    --color-second: rgb(74, 80, 90);
    --color-bg: rgb(238, 238, 238);
    --color-bg-transparent: rgb(238, 238, 238, 0.5);
}

/* ==================================================================================================== */
/* BASE STYLES
/* ==================================================================================================== */
p {
    margin-top: 1em;
    text-align: left;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    font-size: 1.25em;
    font-weight: 600;
}

li {
    padding: 0 0.5em;
}

/* ==================================================================================================== */
/* SCROLL LINE
/* ==================================================================================================== */

.scroll-line {
    background: linear-gradient(var(--color-main) 60%, rgba(0, 0, 0, 0));
    width: 2px;
}

/* ==================================================================================================== */
/* LINKS
/* ==================================================================================================== */
a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    opacity: 0.7;
}

a:active {
    opacity: 1;
}

a.hire-me {
    border: 2px solid currentColor;
    border-radius: 0.5em;
    display: inline-block;
    padding: 4px 1em;
    margin-top: 1em;
    text-transform: uppercase;
}

/* ==================================================================================================== */
/* BODY
/* ==================================================================================================== */
body {
    background-color: var(--color-bg);
    color: var(--color-main);
    font-family: "Montserrat";
    padding: 0 1.5em;
}

/* ==================================================================================================== */
/* NAV
/* ==================================================================================================== */
nav.main-nav {
    background: linear-gradient(var(--color-bg) 60%, rgba(255, 255, 255, 0));
    color: var(--color-second);
    position: sticky;
    top: 0;
    line-height: 4em;
    z-index: 999;
}

/* ==================================================================================================== */
/* LANDING
/* ==================================================================================================== */
header.landing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header.landing li {
    font-size: 1.5em;
}

header.landing .wrapper:has(.hire-me) {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    /* flex-grow: 1; */
}

header.landing .scroll-line {}

/* ==================================================================================================== */
/* FOOTER
/* ==================================================================================================== */
footer {
    margin-top: 10em;
}

footer ul {
    font-size: 1.5em;
}

.copyright {
    padding: 1em 0;
    font-size: 0.75em;
}

/* ==================================================================================================== */
/* SECTIONS
/* ==================================================================================================== */
section {
    min-height: 100vh;
    text-align: center;
}

section h2 {
    text-transform: uppercase;
    margin-top: 1em;
}

section * {
    max-width: 600px;
}

section .scroll-line {
    background: linear-gradient(rgba(0, 0, 0, 0), var(--color-main), rgba(0, 0, 0, 0));
    align-self: center;
    flex-grow: 1;
}

/* ==================================================================================================== */
/* EXPERIENCE
/* ==================================================================================================== */
.experience {
    margin-top: 1.5em;
}

.experience>header:hover {
    opacity: .7;
}

.experience>header:active {
    opacity: 1;
}

.experience>header>* {
    pointer-events: none;
}

.experience>header>h3 {
    line-height: 1;
    font-size: 1em;
    font-weight: 500;
}

.experience>header>span {
    color: var(--color-second);
}

.experience>.content {
    background-color: var(--color-bg-transparent);
    border-radius: 0.5em;
    border: none;
    filter: contrast(0.8);
    margin-top: 1em;
    padding: 1em;
    text-align: left;
}

.experience>.content>* {
    margin: 0;
    max-width: 600px;
}

.skill {
    margin: 0.5em 0.5em 0 0;
}

/* ==================================================================================================== */
/* PROJECTS
/* ==================================================================================================== */
.project {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.project>header>h3 {
    line-height: 1;
    font-size: 1em;
    font-weight: 500;
}

.project>a.wrapper {
    cursor: pointer;
    margin-top: 1em;
    padding: 1em;
}


.project>a.wrapper>img {
    width: 100%;
}